.App {
  text-align: center;
}

.chat-title {
  font-size: 1.9em;
  margin-left: 5%;
}

.main {
  margin: 50px;
}

.messages-block {  
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  overflow: auto;
  
}

.nickname {
  display: block;
  margin-left: 15px;
 
}

.message-text {
  background-color: rgb(154, 212, 235);
  width: 100%;
  padding: 15px;
  font-size: 1.1em;
  display: block;
  border-radius: 15px;
}

.time {
  width: 100%;
  display: inline-block;
  font-size: 0.8em;
  text-align: right;
}